<div class="col">
  <table>
    <% books.each do |book| %>
      <tr class="cards">
        <td class="menu-title">
          <%= link_to main_path(:book_id => book.id), remote: true do %>
            <%= book.title %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(book), method: :delete, remote: true do %>
            <%= image_tag "icon/delete.svg", size:"18x18" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="foot-edit">
  <%= render 'shared/new_button', target_path: books_path %>
  <%= render 'shared/done_button', target_path: menu_path %>
</div>

<script>
  $(".cards a").click(function(){
    let links = document.querySelectorAll(".cards a");
    // 全てのclickedクラスを消す
    links.forEach(item => {
      item.closest("tr").classList.remove("clicked");
    });
    this.closest("tr").classList.add("clicked");
  })
</script>
